<!DOCTYPE HTML>
<html>
<head>
    <title>data monitor</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        *{
            margin:0px;
            padding:0px;
        }
        .title{
            height:60px;
            line-height:60px;
            font-size:24px;
            text-align:center;
        }

    </style>
</head>
<body>
<p class="bg-primary title">数据监控</p>
<script type="text/javascript" src="/js/jquery-2.0.0.min.js"></script>
<script>
    $(function() {
        var url = '/data/index';
        $.get(url,function(ret) {
            var data1 = [];
            for(var i=0; i<ret[0].length; i++) {
                data1.push({x:new Date(ret[0][i].x),y:ret[0][i].y});
            }

            var data2 = [];
            for(var i=0; i<ret[1].length; i++) {
                data2.push({x:new Date(ret[1][i].x),y:ret[1][i].y});
            }
        });
    });
</script>
</body>
</html>